.body {
    background-image: url('/Assets/Mock\ Up\ Produtos\ Be\ Smart\ Buyer\ \(2\).png');
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
}
/* Estilo personalizado para os cards */
.card {
    margin-bottom: 20px;
}

.card-body {
    padding: 10px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
}

.card-text {
    font-size: 14px;
}

/* Define fontes para títulos h1 e h2 */
h1, h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
}
h4 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: light;
    font-size: 30px;

}