body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container-fluid {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    width: 100%;
    height: 100%;
}

.login-section {
    background-color: #FF6F61; /* coral color */
    color: #000;
    font-weight: bold;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.explore-section {
    background-color: #66C7D8; /* light blue color */
    color: #000;
    font-weight: bold;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-section a, .explore-section a {
    color: inherit;
    text-decoration: none;
}

@media (max-width: 768px) {
    .login-section, .explore-section {
        font-size: 2rem;
        height: 50vh;
    }
}
