/*
Style for h1
*/
h1 {
    color: rgb(24, 23, 23);
    text-align: -5 left;
    padding: 2px;
    font-family: "Times New Roman", Times, serif;
  }
  /*
  Style for img
  */
  
  img {
    max-width: 165%; 
    max-height: 165%;
  }
  /*
  Style for the btn
  */
  .btn{
    padding: 10px 10px; 
    margin: 10px; 
  }
  /*
  Style for container
  */
  .table-container {
    margin: 0 auto; 
    max-width: 1050px; 
  }
  /*
  Style for the table
  */
  table {
    border-collapse: collapse;
    width: 100%; 
    color: white; 
    font-size: 20px; 
    text-align: center; 
  
  }
  
  /*
  footer Copyrigth
  */
  footer {
    color: #141313; 
    padding: 1px; 
    text-align: left; 
    position: fixed; 
    left: 0;
    bottom: 0;
    width: 100%; 
    background-color: #f0f0f0; 
  }