/*
Style for h1 Títulos
*/
h1 {
  color: #f2a31c; /* Cor do texto laranja escuro */
  text-align: center;
  padding: 10px; /* Aumentei o padding para destacar mais */
  font-family: "Roboto", sans-serif; /* Um tipo de letra mais moderno e sem serifa */
  font-size: 3.5em; /* Tamanho da letra aumentado para 2.5 vezes o tamanho padrão */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra suave para destacar o texto */
}/*
Style for h2 subtítulos
*/
  h2 {
    color: rgb(84, 141, 233);
    text-align: center;
    padding: 5px;
    font-size: 2.5em; /* Tamanho da letra aumentado para 2.5 vezes o tamanho padrão */
    font-family: "Times New Roman", Times, serif;
  }
/*
Style for img
*/

img {
  max-width: 165%; 
  max-height: 165%;
}
/*
Style for the btn
*/
.btn{
  padding: 10px 10px; 
  margin: 10px; 
}
/*
Style for container
*/
.table-container {
  margin: 0 auto; 
  max-width: 1050px; 
}
/*
Style for the table
*/
table {
  border-collapse: collapse;
  width: 100%; 
  color: white; 
  font-size: 20px; 
  text-align: center; 
}

/*
footer Copyrigth
*/
footer {
  color: #141313; 
  padding: 1px; 
  text-align: left; 
  position: fixed; 
  left: 0;
  bottom: 0;
  width: 100%; 
  background-color: #f0f0f0; 
}